# Relatório 5

## Criando Novas Variáveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("aluguel_residencial.csv", sep=";")

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0

## Criando a Variável "Valor Bruto"

In [4]:
dados["Valor Bruto"] = dados.Valor + dados.Condominio + dados.IPTU
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
...,...,...,...,...,...,...,...,...,...,...
22352,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0
22353,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0
22354,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0
22355,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0
22356,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0

## Criando a Variável "Valor m2"

In [5]:
dados["Valor m2"] = dados.Valor / dados.Area
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
...,...,...,...,...,...,...,...,...,...,...,...
22352,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.857143
22353,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.629630
22354,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.076923
22355,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.166667
22356,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.857143

In [6]:
dados["Valor m2"] = dados["Valor m2"].round(2)

In [7]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
...,...,...,...,...,...,...,...,...,...,...,...
22352,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86
22353,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63
22354,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08
22355,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17
22356,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86

## Criando a Variável "Valor Bruto m2"

In [8]:
dados["Valor Bruto m2"] = (dados["Valor Bruto"] / dados.Area).round(2)

In [9]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
...,...,...,...,...,...,...,...,...,...,...,...,...
22352,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54
22353,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52
22354,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85
22355,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54
22356,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71

## Agregando tipos de Casa em uma Variável "Tipo Agregado"

In [10]:
casa = ['Casa', 'Casa de Condominio', 'Casa de Vila']

In [11]:
dados['Tipo Agregado'] = dados.Tipo.apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [12]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22352,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54,Apartamento
22353,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Apartamento
22354,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Apartamento
22355,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Apartamento
22356,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Apartamento

.apply() #aplica uma função em cada linha
função lambda -> https://www.w3schools.com/python/python_lambda.asp
lambda "argumentos": "operação com os argumentos"

## Excluindo Variáveis

Variável valor bruto e valor bruto m2 não são confiáveis porque existem muitos imóveis com valor de IPTU nulo. Foi decidido remover essas variáveis.

In [13]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [14]:
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0       Apartamento     42.50       2260.0           56.50
1              Casa     70.00       7000.0           70.00
2       Apartamento     53.33       1210.0           80.67
3       Apartamento     16.67       1030.0           21.46
4       Apartamento     26.00       1618.0           32.36
...             ...       ...          ...             ...
22352   Apartamento     12.86       1438.0           20.54
22353   Apartamento     29.63       1175.0           43.52
22354   Apartamento     23.08       2640.0           33.85
22355   Apartamento     29.17       1946.0           40.54
22356   Apartamento     42.86       3760.0           53.71

[22357 rows x 4 columns]

In [15]:
del dados_aux['Valor Bruto']
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto m2
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     53.33           80.67
3       Apartamento     16.67           21.46
4       Apartamento     26.00           32.36
...             ...       ...             ...
22352   Apartamento     12.86           20.54
22353   Apartamento     29.63           43.52
22354   Apartamento     23.08           33.85
22355   Apartamento     29.17           40.54
22356   Apartamento     42.86           53.71

[22357 rows x 3 columns]

In [17]:
dados_aux.pop('Valor Bruto m2')

0        56.50
1        70.00
2        80.67
3        21.46
4        32.36
         ...
22352    20.54
22353    43.52
22354    33.85
22355    40.54
22356    53.71
Name: Valor Bruto m2, Length: 22357, dtype: float64

In [18]:
dados_aux

      Tipo Agregado  Valor m2
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     26.00
...             ...       ...
22352   Apartamento     12.86
22353   Apartamento     29.63
22354   Apartamento     23.08
22355   Apartamento     29.17
22356   Apartamento     42.86

[22357 rows x 2 columns]

In [19]:
dados.drop(["Valor Bruto", "Valor Bruto m2"], axis = 1, inplace = True)

In [20]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
22352,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
22353,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
22354,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
22355,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
22356,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [22]:
dados.to_csv("aluguel_residencial.csv", sep=";", index=False)

Vimos que é possível excluir variáveis com:
del
.pop
.drop